body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:#000a00;
    color: white;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.nav #links{
    margin-left:50px ;
    font-size: 17px;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    color: rgb(217, 25, 25);
    text-decoration: none;
}